{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{% static  'css/styles.css' %}" />        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    </head>
    <body>
        <div class="header">
            <nav class="nav">
                <ul>
                    <li>
                        <i class="fa-solid fa-house nav-item"></i><a href="#" class="nav-item">Home</a>                        
                    </li>
                    <li>
                        <i class="fa-solid fa-question nav-item"></i><a href="#" class="nav-item">About</a>                        
                    </li>
                    <li>
                        <i class="fa-solid fa-code nav-item"></i><a href="#" class="nav-item">Projects</a>                        
                    </li>
                    <li>
                        <i class="fa-solid fa-address-book nav-item"></i><a href="#" class="nav-item">Contact</a>                        
                    </li>
                </ul>
            </nav>
        </div>
       
        {% block content %} {% endblock %}
    
        <script>
            const STATIC_URL = "{% static '' %}";
        </script>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
