{% extends 'base.html' %}

{% load static %}

{% block title %}Contact Me{% endblock %}

{% block content %}

<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1>Contact Me</h1>
                <p><i class="fas fa-paper-plane"></i>mashymtimbwa7@gmail.com</p>
                <p><i class="fas fa-phone-square-alt"></i>0772797012</p>
                <div class="social-icons">
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-twitter-square"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="contact-right">
                <form action="/contact" method="POST">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Your name" required>
                    <input type="email" name="email" placeholder="Your email" required>
                    <textarea name="message" id="message" rows="6" placeholder="Your message"></textarea>
                    <button id="btn-submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

