{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
</head>
<body>
    <div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col">
                <form class="p-4" action="/login/" method="POST">
                    {% csrf_token %}
                    <h3 class="mt-2 mb-3">Login</h3>
                    <div class="mb-3 my-input">
                        <label for="username">Username</label><br>
                        <input type="text" name="username" placeholder="username" class="form-control" required>
                    </div>
                    <div class="mb-3 my-input">
                        <label for="password">Password</label><br>
                        <input type="password" name="password" placeholder="password" class="form-control" required>
                    </div>  
                    <button type="submit" class="btn1 mt-1">Login</button>
                    <a href="/signup">sign up?</a>
                </form>              
            </div>
        </div>
    </div>
</body>
</html>