*{
    margin: 0;
    padding: 0;
}
/*header*/
nav {
    display: flex;
    justify-content: space-between; /* Spread out left, center, and right */
    align-items: center; /* Vertically center items */
    background-color: black;
    height: 15vh;
    padding: 0 20px; /* Add some spacing around the edges */
}

.nav-center li {
    list-style-type: none;
    padding-right: 5%;
}

.nav-center li a {
    color: white;
    text-decoration: none;
    font-size: x-large;
    line-height: 15vh;
    position: relative;
    margin: 0 10px; /* Add spacing between links */
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Thickness of underline */
    background-color: white;
    transition: width 0.3s ease; /* Smooth underline transition */
}

.nav-center li a:hover::after {
    width: 100%; /* Full width of the link */
}

.nav-center li i {
    color: white;
    margin-right: 10px;
    font-size: larger;
}

/* Right section (button) */
.nav-right .auth-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-right .auth-button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.nav-left i {
    color: white;
    font-size: x-large;
}

/*home*/

.home-section{
    background: linear-gradient(to right bottom, black , white );
    height: 85vh; 
    padding-top: 200px;
    padding-left: 50px;
    display: flex;
    justify-content: center;
}

.home-section h1 {
    padding: 10px;
}

.home-section p {
   font-weight: bold
}

.home-section h2 {
    padding-top: 40px;
}

@media screen  and (max-width:570px) {
    .home-section {
        display: block;
        padding-top: 80px;
    }
    
    .home-section .text-side {
        padding-bottom: 70px
    }    
    .nav {
        display: block;
    }
    .nav-center {
        margin: 20px;
    }
}

@media screen  and (max-width:860px) {
    .nav-center {
        display: block;
    }    
    
    .nav-center li a {
        line-height: 10vh;  
    }
    .nav {
        height: 60vh;
    }
}

/* About */
.about-section {
    background-color: rgba(210, 207, 207, 0.996);
    /* height: 100vh; */
}

.about-section h1 {
    text-align: center;
    padding: 80px;
}

.about {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .image-side {
    margin-right: 100px;
}

.about .image-side img {
    border: 5px solid black;
    padding: 20px;
}













